---
title: Associations
layout: page
features:
  - title: "Decision Making"
    description: "Good governance helps the board make sound decisions by following guidelines that puts the associations' future first."
    icon: "/images/list.png"
  - title: "Communication"
    description: "Improve communication with the association by prioritizing transparency and visibility for all committee members."
    icon: "/images/communication.png"
  - title: "Accountability"
    description: "Promote accountability by clearly identifying the roles of board members, so they understand their responsibilities."
    icon: "/images/relationship.png"
  - title: "Checks & Balances"
    description: "Monitor the activities of the association by regular meetings and evaluations to ensure that everything is in line with associations’ goals and targets."
    icon: "/images/balance.png"
  - title: "Reduces Risk"
    description: "Ensure all records and minutes are securely stored, consistent, and accessible to back up all decisions and handle inquiries."
    icon: "/images/security-badge.png"
  - title: "Automatic Notifications"
    description: "Notice periods for meetings, agenda distribution with attachments, action item follow up all done for you."
    icon: "/images/notification-bell.png"
  
---

<div class="container text-center">
    {% include wista-video.html id="73n4tdgd7k" %}
</div>

<div class="container-fluid bg-danger px-5 py-5 text-center text-white">
    <h1 class="display-4">Are your volunteers burning out?</h1>
    <span class="lead">Keep administration simple and stay focused on the outcomes of your organization</span>
</div>

<div class="container-fluid">
    <div class="row mx-0 px-0">
        <div class="col-md-6">
            <div class="px-3 py-3">
                <h1 class="display-4 editable">The problem for Associations</h1>
                <p class="editable">
                    We understand that there are many types of associations out there, from school P&amp;C, community groups to sporting clubs.
                    <br /><br />
                    Need  more people to get involved and help out? Tired of the conflict amongst the committee? Not receiving minutes until just before the next meeting? Questioning how compliant you really are if audited? Losing sleep that you may be personally liable?
                    <br /><br />
                    Use Process PA to take care of administration for you and free you to make a positive impact in your association.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container my-5">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtu.be/3iqA7LlV-9I"allowfullscreen></iframe>
    </div>
</div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mx-0 px-0">
        <div class="col-md-6">
            <img class="img-fluid" src="/content/pages/Responsive Web App.png " alt="Process PA is available on mutliple devices" />
        </div>
        
        <div class="col-md-6">
            <div class="px-3 py-3">
                <h1 class="display-4 editable">The solution in the cloud</h1>
                <p class="editable">
                    Using Process PA, Associations can implement good governance strategies to strengthen their board.<br /><br />Process PA is an easy to use online portal that associations use to maintain good governance.<br /><br />Using our secure system, the association can manage:<br /><br />- &nbsp;The roles and responsibilities of each board member<br />-&nbsp; How effectively the board operates<br />-&nbsp; How effectively the board interacts with management<br />-&nbsp; The board&rsquo;s accountability to its constituents<br />-&nbsp; Directors&rsquo; accountability to one another
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #00a1f1; color: white;">
    <div class="container">
        <div class="lead pt-4">
            <h1 style="color: white;">
                Features
            </h1>
            <br/>
        </div>
        <div class="row">
            {% for feature in page.features %}
            <div class="col-sm-6">
                {% include media-object.html title=feature.title description=feature.description icon=feature.icon %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col bg-warning">{% include wista-video.html id="wjbyl43sob" %}</div>
        <div class="col px-5 py-5">
            <h1 class="display-4">Know what to do without the manuals</h1>
            <p class="lead">For people on committees running associations or boards, the administration is often done by people who put their hand up but without training. There are many resources available that give guidance on what needs to be done, but that takes more time than people have to volunteer. Process PA provides a tool that guides the committee member through the role requirements and automatically performs many of the repetitive tasks.</p>
            <a class="btn btn-success" href="https://app.processpa.com/Account/Register">Try it for Free</a>
        </div>
    </div>
</div>

