---
title: FAQ
layout: page
faq:
  - question: What is Process PA?
    answer: Process PA is your personal assistant guiding you through your governance requirements for your management committee or board.
  - question: How do I get started?
    answer: You can begin a free 30-day trial by registering at [https://app.processpa.com/Account/Register](https://app.processpa.com/Account/Register). For more details on getting setup go to [Help](/help.html).
  - question: Do I need all members to agree to move over to Process PA?
    answer: While we recommend approval from the members in most situations, Process PA has been built in a way that the main user, often the secretary, can take advantage of the improved process using Process PA without changing the process other members are currently doing. Everything can be emailed as it was before (albeit faster with our PDF combining and attachment bundling) so members get all they need in their inbox. They do not even need to log in to the platform at all. That said, if they do there are other benefits like historial access to information that they can take advantage of.
  - question: How many board and committee members can I add?
    answer: You can add all your board directors and committee members. We do not charge per user, but keep pricing simple per organization. You can control if your members have access online, receive content only via email or can modify your content.
  - question: Using the subcommittees for staff meetings
    answer: For each subscription, you are eligible for three sub committees. To activate, create the subcommittees as organisations within your profile. 
  - question: How do users access Process PA?
    answer: Process PA is acccessible from any browser (e.g. Google Chrome, Microsoft Edge, Firefox) on any device, PC/Mac, Tablet or Phone at [https://app.processpa.com/](https://app.processpa.com/).
  - question: How can other members login?
    answer: After you have added the member and set their access level ([Manage Membership](/quick-start-guide/manage-membership)), the user can register with the same email address and log in. Note that on the emails that go out from Process PA contain a link to view online. If the member has created an account this will take them to the register page with their details filled out. All they need to do is set a password.
  - question: Does the site work offline?
    answer: Unfortunately no. We have optimized it to use very little data so that it works through mobile data quickly. An internet connection is required while taking minutes though. If a connection can't be obtained for the meeting, taking minutes the traditional way and entering them later into Process PA later still give other benefits of the system, such as distributions, consistency and continuity of records.
  - question: Can Ordinary Members access documents?
    answer: Members can be given either Administrator, Viewer or Email Only access. Administrators can modify everything, Viewers can only view everything and Email members only receive content via email. When other members register with Process PA, if they are members of any organizations those will be available for them to access.
  - question: How can I add executives who are not directors?
    answer: New roles for members, can be created on the “Settings” page under “Edit Roles”. Simply add or rename a current role. The member’s permission level can then be adjusted within the Members details, in the Members Register. 
  - question: Deleting and adding members
    answer: Members can be added, edited or deleted in the Members Register. Click on “Members” in the menu bar at the top of the page. From this page you can add or delete members. Or to Edit, select the “Pencil” icon on the right of the page, next to the member’s name. As an alternative to deleting a member, their permission level may be set to “None” in which they no longer have access, but their details remain in the system. These details can be activated again by simply changing permission levels.
  - question: How do I change the Agenda Template?
    answer:  In “Settings” on the left, scroll down until you come to “Agenda Template”. Under “Meeting” select between the meetings types “General”, “Annual” or “Special” Once selected you will be taken to the Agenda template where you can rearrange and edit the Agenda, for all future meetings.
  - question: How can I create Sub Agenda Items?
    answer: Sub Agenda Items can be created either in the Notes section of the Agenda Item, or you can use capital letters or brackets to differentiate the different Sub Agenda's. For examples of this, click here [https://processpa.com/quick-start-guide/creating-sub-agendas](https://processpa.com/quick-start-guide/creating-sub-agendas).
  - question: Can I resize the font used in the Agenda Items?
    answer: The Font size used in the Agenda, can only be changed within the notes and not in the Agenda Item title.
  - question: How to remove action items from an agenda.
    answer: To delete an Action Item from an agenda, open the Action Item and select delete. A pop up will ask you to confirm your choice.
  - question: Can I send the agenda and the request for attendance out together?
    answer: When the Agenda is emailed, a link will be included where members can click and record their attendance for the meeting.
  - question: Add standard motions to meeting template.
    answer: Standard Motions and Actions can be included in the Agenda Template, which will be generated for each meeting.
  - question: How do I edit the Roles?
    answer: In “Settings” on the left, scroll down until you come to “Edit Roles” Here you may add, delete or change the Role titles.  
  - question: Do the previous meetings minutes, automatically generate onto the next meeting’s agenda?
    answer: Before a meeting can close, a date for the next meeting must be created. The minutes will automatically be included on the Agenda for that next meeting.
  - question: How do I change whom the emails come from, for the Agenda’s, Minutes and Request of Attendance?
    answer: In “Settings” just under the “Page Header” section, is “Email Reply – To Address”. Select from the drop-down menu, who the correspondence is to come from.
  - question: What if a future committee decide not to continue using Process PA?
    answer: Everything can be download from Process PA at any time to be put elsewhere.
  - question: Can emails be sent to just one person?
    answer: Emails can be sent to as many or as few members as you need. To do this, check boxes will be presented to you within "Emails" located in "Preview Minutes". From here, you can check the boxes of whom you wish to send the emails to before you select “Send”.
  - question: Can minutes be edited once a meeting is finalised?
    answer: Minutes from completed meetings can be edited and redistributed, however new Actions Items and/or Motions, cannot be created. Please contact [support@processpa.com](mailto:support@processpa.com) if you need help with this.
  - question: Can I delete a completed meeting?
    answer: Completed meetings cannot be deleted by users. Please contact [support@processpa.com](mailto:support@processpa.com) and we will delete the meeting for you.
  - question: How to clear the clock on a meeting
    answer: To reset the clock on a meeting, click the reset clock icon (a red cirle with an arrow), that is located just right of the clock. This will reset the meeting time.
  - question: Can the Time-zone be changed?
    answer: The Time-zone is set in the initial setup of an organization. To have the Time-zone changed, contact us at [support@processpa.com](mailto:support@processpa.com)
  - question: Can the document folder be re-arranged from the front end?
    answer: The Document folder cannot be reorganised. This is a feature that we will look to incorporate in a future update.
  - question: Are documents that have been uploaded, able to be refiled?
    answer: Documents are not able to be refiled once uploaded. This is a subject that we will be looking at resolving in the future. To resolve this matter, the user can re-upload the file into the correct folder. If the user does not have the file on their local PC, they can download and save from Process PA onto their PC and upload again. However, once the document has been changed, the new file will not have the connections to previous meetings it was used in.


---

<div class="container">
    <section class="faq">
        <ul>
            {% for item in page.faq %}
                <li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
            {% endfor %}
        </ul>

        {% for item in page.faq %}
            <h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
            {{ item.answer | markdownify }}
        {% endfor %}
    </section>
</div>