---
layout: standard
title: Move your board online
description: >-
  Enjoyable Governance for Management Committees and Boards through an Online
  Portal
navigation_title: Home
navigation_weight: 1
benefits:
  - title: Instant Minutes
    description: >-
      Meeting guidance with agenda templates, generated minutes, follow up and
      automatic notifications. Less Paper. Reduce administration time.
    icon: /images/Automation.png
  - title: Good Records
    description: >-
      Take the guesswork out of managing compliance requirements with members,
      motions and actions registers always up-to-date plus secure document
      storage.
    icon: /images/Compliance.png
  - title: Simple Handovers
    description: >-
      Continuity for new office bearers. Everything kept in the one place.
      Access from any device. Always available.
    icon: /images/Continuity.png
testimonies:
  - testimonial: >-
      I can’t believe how good this system is. Process PA has given me back at
      least 2 days per month. When we finish a Board meeting the directors have
      their minutes in their email before they get out of the Boardroom. They
      love it! I’ve been in the Club Industry for 22 years now and the best
      software is simple to use and does what it says. Process PA is one of
      those.
    cite: Liam Rogers – Royal Motor Yacht Club Port Hacking
  - testimonial: >-
      Process PA gives me confidence that my Board, regardless of what device or 
      operating system they are using, are receiving and viewing our agenda and 
      reports exactly as intended. Everything is together in the right place and 
      accessible to everyone who needs to see it.
    cite: Damian Cooper - Professional Individualised Care
  - testimonial: >-
      It is a massive time saver and simplifies everything. There is never any
      questions about what was said as minutes are recorded on the night, on a
      screen for all to see and with all reports available. It is brilliant.
    cite: Carol Ramsay – Elanora State High School
  - testimonial: >-
      We held our AGM on Tuesday night, just wanted you to know that I am
      officially in love with Process PA.  Everything went well, I had
      everything ready to go just had a few buttons to click here and there. 
      Love it!!
    cite: Rebecca Long - Boyne Tannum HookUp
  - testimonial: >-
      I’ve been in the club for over 13 years and it is a lot of work. With
      Process PA we are saving hours of tedious paperwork and everything is in
      the one place. Minutes are done quickly and easily, Action Items are
      assigned and emailed out and in the agenda to follow up in the next
      meeting. I wish this was available years ago.
    cite: Kim Miles – Capalaba Football Club Inc
  - testimonial: >-
      We always are needing to change to stay relevant. With the change in the
      way people expecting technology to make things easier, Process PA provides
      a modern platform for getting meetings and minutes done. It really is
      fantastic. Many thanks to Process PA for this timesaver!
    cite: 'Wendy Dunstan – Co-Director, Wynnum General Gordon Kindergarten'
  - testimonial: >-
      Process PA is not comparable to something like Dropbox or SharePoint. I am
      always looking at how I can make the job easier to be less intimidating
      for new members. Instead of carrying stacks of paper to the meetings,
      everything has already been distributed and is all contained online and
      easily accessible for all.
    cite: Renee Walls – Mango Hill State School
  - testimonial: >-
      See, minutes are important and because of you (Process PA), our jobs, and
      all other secretaries/treasurers jobs (voluntary as the positions are) are
      going to be made so much easier for all of us to have it all done on the
      day/night of the meeting with the introduction of your programme. If
      'non-techies' like us can use it, anyone can!
    cite: Leanne Barnes & Tracey Spiers – Nerang State High School
  - testimonial: >-
      We have been using the Process PA system for the last few weeks and love
      it! I have to say that in my role as Secretary I look pretty darn
      professional at our meetings and the committee have received loads of
      great comments about the system. Thank you for all the support you have
      provided and well done on such a user friendly and helpful program.
    cite: Karen Bray - High School P&C
  - testimonial: >-
      I think this product is fabulous! It's intuitive, efficient and productive, and such a help to me on the school's P&C committee.
    cite: Kathryn Wetherell
  - testimonial: >-
      Process PA is clean and easy to navigate. The extra discipline on committee members is much needed, even if a bit of a shock to some, but most like the extra accountability. It helps us comply with the BCCM Act record keeping requirements and the strata manager was happy to go with it and pretty impressed with the motions and actions list. Support has been prompt, personal and excellent.
    cite: John Lowry - Body Corporate Committee Member
  - testimonial: >-
      We LOVE Process PA. We are now a couple meetings in and getting the hang of everything and your assistance in helping us through this process has been great. It is awesome, thank you sooooo much.
    cite: Shari Hancox, President, Kristy Middleston, Secretary – Biloela Netball Association
organization-types:
  - title: Associations
    description: >-
      From your school P&C and Sporting Club to your trade or professional
      associations. How smoothly your board runs to it's goals and deadlines  is
      crucial to your organisation.  <br><br>See how we take the burden off your
      volunteers.
    link: /associations.html
  - title: Not-for-Profit
    description: >-
      Attract the best board members by having up-to-date systems that promote
      good practice. <br><br>Make reporting easy for your CEO, administration
      <br>easy for your PA and keep your board engaged <br>and informed.
    link: /nfp.html
  - title: Business
    description: >-
      Many public and listed companies have had the benefit of a board portal
      for secure communication of board papers to directors for years.<br>With
      transparent affordable pricing and modern easy-to-use software available
      anywhere see how your board can be always informed.
    link: /boards.html
---

<div class="jumbotron jumbotron-fluid pb-0" style="background-color: #00A1F1; color: white;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-1 text-center editable">
                    Move Your Board Online
                </h1>
                <h1 class="display-4 text-center editable">
                    The Modern Easy-to-use Governance Portal
                </h1>
                <div class="lead text-center editable">
                    <p>Try now for Associations, Clubs, Not-for-Profits, and Businesses</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-success btn-lg text-uppercase mx-5 my-5 editable" href="https://app.processpa.com/authenticate/password-register">Start 30-day Trial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <img width="100%" src="/images/AppSplash_3000px.png" alt="Process PA Online Board Portal" />
    </div>
</div>

<div class="container-fluid">

    <div class="row mt-4">

        {% for benefit in page.benefits %}
        <div class="col-sm-4 px-5 py-5">
            <div class="media">
                <img class="d-flex mr-3" width="64" src="{{ benefit.icon }}" />
                <div class="media-body">
                    <h4 class="mt-0">{{ benefit.title }}</h4>
                    <p>{{ benefit.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- row -->

</div>

<div class="container-fluid px-0">
    <div class="row no-gutters">
        {% for org in page.organization-types %}
        <div class="col-md-4 col-12 mb-0 text-center card text-white bg-{% cycle "primary", "success" , "info" , "warning" %}">
            <div>
                <div class="card-body">
                    <blockquote>
                        <h3>{{ org.title }}</h3>
                        <p>{{ org.description }}</p>
                        <footer><a class="btn btn-light editable" href="{{ org.link }}">Find out more</a></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="jumbotron-fluid" style="background: url(/images/Classic-Desktop.jpg) no-repeat center center; background-size: cover; color: white;">

    <div class="container-fluid" style="background-color: black; opacity: 0.6;">
        <div id="carouselQuotes" class="container carousel slide py-10" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for testimony in page.testimonies %}
                <li data-target="#carouselQuotes" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner" role="listbox">
                {% for testimony in page.testimonies %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ testimony.testimonial }}</p>
                        <footer class="blockquote-footer"><cite title="Source Title">{{ testimony.cite }}</cite></footer>
                    </blockquote>
                </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carouselQuotes" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselQuotes" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row mx-0 px-0">
        <div class="col-md-6">
            <div class="px-3 py-3">
                <h1 class="display-4 editable">Governance made easy</h1>
                <p class="editable">
                    When it comes to your board, good governance is the way to go. Without this, boards can have a hard time setting objectives for their organisation.
                    <br /><br />Process PA helps to manage your governance by automating the processes needed to keep you board running smoothly.
                </p>
                <p><div class="container py-4">
                        <div class="card border-info p-3">
                            <div class="card-block">
                                <h3 class="card-title">Free Concierge Service</h3>
                                <p class="card-text">Book a free concierge service. We will enter your members, minutes from your last meeting, set agenda templates and your letterhead. Your next meeting will be scheduled and ready to go for a productive meeting and instant minutes. (Concierge service also available in our 30 Day Free Trial)</p>
                                <a class="btn btn-info" href="/concierge">Book Now</a>
                            </div>
                        </div>
                    </div></p>
            </div>
        </div>
        
        <div class="col-md-6">
            <img class="img-fluid" src="/content/pages/Responsive Web App.png " />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mx-0 px-0">
        <div class="col-md-6">
            <img class="img-fluid" src="/images/Agenda Screenshot.png " alt="Agenda templates for stress free meetings" />
        </div>
        
        <div class="col-md-6">
            <div class="px-3 py-3">
                <h1 class="display-4 editable">Stress free meetings</h1>
                <p class="editable">
                    Board objectives and decision making all revolve around their meetings. Having regular meetings can help the committee focus on their roles and responsibilities. Committee members also know that their roles don’t start and finish with the meetings.
                    <br /><br />Process PA helps committee members to keep up to date with their commitments via online documentation.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mx-0 px-0">
        <div class="col-md-6">
            <div class="px-3 py-3">
                <h1 class="display-4 editable">Secure cloud-based documents</h1>
                <p class="editable">
                    When it comes to storing board documents, security it paramount. That’s why having a secure cloud solution is important when storing your documents online.
                    <br /><br />Process PA helps with secure online cloud storage system compliant to the top industry standards.
                </p>
                <a class="btn btn-success" href="/security.html">Learn More</a>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/Document Screenshot.png " alt="Secure document storage for all board materials" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mx-0 px-0">
        <div class="col-md-6">
            {% include wista-video.html id="wjbyl43sob" %}
        </div>
        <div class="col-md-6">
            <div class="px-3 py-3">
                <h1 class="display-4 editable">Setup 5 minutes. Save hours.</h1>
                <p class="editable">
                    Process PA is cloud-based software that automates association procedures and paperwork, saving committee members
                    from administration time. New office bearers are guided through their role and compliance requirements through
                    simple yet effective handovers, ensuring committee processes are maintained.
                    <br /><br /> Agenda Templates, automatic notifications, online Members, Motions and Action registers. Everything
                    taken care of.
                </p>
                <a class="btn btn-success" href="/quick-start-guide/registering-an-account.html">Learn More</a>
            </div>
        </div>
    </div>
</div>