<div class="container-fluid">

    <div class="row mt-4">

        {% for benefit in include.benefits %}
        <div class="col-sm-4 px-5 py-5">
            <div class="media">
                <img class="d-flex mr-3" width="64" src="{{ benefit.icon }}" />
                <div class="media-body">
                    <h4 class="mt-0">{{ benefit.title }}</h4>
                    <p>{{ benefit.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- row -->

</div>