/* Responsive Sized Display titles */
@include media-breakpoint-up(xs) {
    .display-1 {
        font-size: 3rem;
    }

    .display-4 {
        font-size: 1.5rem;
    }
}

@include media-breakpoint-up(sm) {
    .display-1 {
        font-size: 4rem;
    }

    .display-4 {
        font-size: 2rem;
    }
}

@include media-breakpoint-up(md) {
    .display-1 {
        font-size: 5rem;
    }

    .display-4 {
        font-size: 2.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .display-1 {
        font-size: 6rem;
    }

    .display-4 {
        font-size: 3.5rem;
    }
}

/* More Padding */
.py-10 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

/* Responsive images on blog posts */
.post-content * img
{
    @include img-fluid;
}