---
layout: standard
---

<!--Setup Page Title, categories, author multi column-->
<div class="container">
    <h1 class="display-4">{{ page.title }}</h1>
    
    <p>
        <small class="text-muted">{{ page.date | date: "%B %d, %Y" }}</small>
        <small> by {{ page.author }} </small>
        {% for category in page.categories %}
        <small class="badge badge-info">{{ category }}</small>
        {% endfor %}
    </p>

    <div class="post-content">
        {{ content }}
    </div>
</div>
<!--Setup page lead capture and where to next-->
<div class="container post-lead-capture bg-success py-5 my-5">
    <h3 class="text-white">There's more!</h3>
    <p class="text-white">Subscribe to get articles, cheat sheets and tips</p>
    <form action="https://www.getdrip.com/forms/544763379/submissions" method="post" data-drip-embedded-form="544763379" class="form-inline">
        <div class="input-group">
            <label for="drip-First-Name" class="sr-only">Name</label><br />
            <input class="form-control" type="text" id="drip-First-Name" name="fields[First_Name]" value="" placeholder="Name" />
        </div>
        <div class="input-group">
            <label for="drip-email" class="sr-only">Email Address</label><br />
            <input class="form-control" type="email" id="drip-email" name="fields[email]" value="" placeholder="Email" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" name="submit" value="Sign up" data-drip-attribute="sign-up-button" />
        </div>
    </form>
</div>

<div class="container post-lead-capture bg-primary py-5 my-5">
    <h1 class="display-4 text-center text-white editable">Transparency for your Committee and Board</h1>
    <p class="lead text-center text-white editable">Process PA keeps everyone on the same page and makes board processes simple.</p>
    <div class="text-center">
        <a class="btn btn-success btn-lg text-uppercase editable" href="https://app.processpa.com/authenticate/password-register">Start 30-day Trial</a>
    </div>
    <div class="lead text-center text-white editable">For Associations, Clubs, Not-for-Profits and Businesses</div>
    <h1 class="display-4 text-center text-white editable">The Modern Easy-to-use Committee & Board Portal</h1>
</div>
