---
layout: default
---

<header role="banner">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-light text-uppercase">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img src="/images/logo-sml.png">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                    {% for p in navigation_pages %}
                    {% if p.navigation_weight %}
                    <li class="nav-item {% if p.url == page.url %}active{% endif %}">
                        <a class="nav-link" href="{{ p.url }}">{{ p.navigation_title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <a class="btn nav-link mr-sm-2" href="https://app.processpa.com/">Log in</a>
                <a class="btn btn-outline-success nav-link my-2 my-sm-0" href="https://app.processpa.com/Account/Register">Register</a>
            </div>
        </nav>
    </div>
</header>

{{ content }}

<div class="sub-footer">
    <div class="container-fluid">

        <div class="row  align-items-center small bg-inverse" style="min-height: 4rem;">
            <div class="col nav">
                <a class="nav-link text-info" href="/terms-and-conditions.html">Terms &amp; Conditions</a>
                <a class="nav-link text-info" href="/privacy-policy.html">Privacy Policy</a>
                <a class="nav-link text-info" href="/security.html">Security</a>
                <a class="nav-link text-info" href="/partners.html">Partners</a>
            </div>

            <ul class="col nav justify-content-end">
                <li><a class="nav-link text-info" target="_blank" href="http://facebook.com/ProcessPA"><i class="fa fa-facebook"></i></a></li>
                <li><a class="nav-link text-info" target="_blank" href="http://twitter.com/ProcessPA"><i class="fa fa-twitter"></i></a></li>
                <li><a class="nav-link text-info" target="_blank" href="https://www.linkedin.com/company/process-pa"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="nav-link text-info" target="_blank" href="https://www.instagram.com/process.pa/"><i class="fa fa-instagram"></i></a></li>
            </ul>

        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .sub-footer -->