---
layout: default
---

<header role="banner">
    <div class="container-fluid">
        <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded text-uppercase">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img src="/images/logo-sml.png">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                    {% for p in navigation_pages %}
                    {% if p.navigation_weight %}
                    <li class="nav-item {% if p.url == page.url %}active{% endif %}">
                        <a class="nav-link" href="{{ p.url }}">{{ p.navigation_title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <a class="btn nav-link mr-sm-2" href="https://app.processpa.com/">Log in</a>
                <a class="btn btn-outline-success nav-link my-2 my-sm-0" href="https://app.processpa.com/Account/Register">Register</a>
            </div>
        </nav>
    </div>
</header>

{{ content }}

{% include footer.html %}